<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tea House - Tea Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/static/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/static/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    
    <!-- Navbar Start -->
  <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <a href="index.html" class="navbar-brand">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="index.html" class="nav-item nav-link">首页</a>
                        <a href="store.html" class="nav-item nav-link">词云分析</a>
                        <a href="storequshi.html" class="nav-item nav-link">地域分析</a>
                        <a href="storeshehui.html" class="nav-item nav-link">社会网络分析</a>
                        <a href="storeqinggan.html" class="nav-item nav-link">情感分析</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">详细介绍</a>
                            <div class="dropdown-menu bg-light rounded-0 m-0 show"data-bs-popper="none">
                                <a href="productbuyi.html" class="dropdown-item">布依族</a>
                                <a href="productdongzu.html" class="dropdown-item">侗族</a>
                                <a href="productyaozu.html" class="dropdown-item">瑶族</a>
                            </div>
                        </div>
                    </div>
                    <div class="border-start ps-4 d-none d-lg-block">
                        <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-2 text-dark mb-4 animated slideInDown">侗族</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Products Start -->
    <div class="container-fluid product py-5">
        <div class="container py-5">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">贵州、湖南、广西、湖北、广东</p>
            </div>
            <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
                <a href="" class="d-block product-item rounded">
                    <img src="static/images//" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">历史</h4>
                        <span class="text-body">对于侗族的历史源流，史学界有不同的看法。主要观点有四种：一种认为侗族是土著民族，自古以来就劳动生息在这块土地上，是在这块土地上形成的人们共同体；第二种认为，侗族是从都柳江下游的梧州一带溯河而上迁徙到今日侗乡的，因为南部方言的侗族中都流传有“祖公上河”的迁徙歌谣；第三种认为，侗族是从长江下游的温州一带经过洞庭湖沿沅江迁徙来的，因为北部方言的侗族中流传的“祖公进寨”歌有这样的传说；第四种认为，侗族的主体成份是土著，在长期的历史发展过程中融合了从外地迁来的其他民族成份。</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="static/images//" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">政治</h4>
                        <span class="text-body">侗族曾有过较为原始的社会组织和政治制度。古代的侗族社会有一种“款”的社会组织。“款”是村寨间或地域性的一种政治和军事上的联盟，又称为“合款”，主要的目的是应付外族人的入侵和盗匪的掳掠。“合款”组织宋代就有。款有小款、大款和联合大款。小款是相邻的村寨或数十寨的联盟，常以联款时的户数命名，如“千三款”，由从江县的银潭、占里、谷洞、帮土和黎平县的双江、四寨等村寨组成的一个小款，号称有1300户。“埋岩”也是侗族古老的社会组织形式，因其在集会时将条型石头的一截埋入土中，故名。</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="static/images/" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">艺术</h4>
                        <span class="text-body">“大歌”是侗族音乐中的精粹，主要特征是在音乐上形成了复调结构与表现手法。侗族民间有传统的歌班、歌队组织，每逢节日或歌队出访或迎接歌队来访，以对唱“大歌”而获得声誉。歌班演唱时，领唱与众人合唱相结合，分出高低音声部，其完整的多声部结构是中国目前所发现最完美的民间合唱，被誉为“天赖之音”。侗族舞蹈有芦笙舞、“多耶”舞、耍龙舞、狮舞等。“多耶”舞是侗族古老的歌舞结合的舞蹈形式，活动时，参加的人手拉着手或以手搭肩围成一圈，有节奏的踏步徐行，歌词由一人领唱众人合，是侗族地区最喜闻乐见的娱乐活动。</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="static/images//" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">文化</h4>
                        <span class="text-body">侗族相信万物有灵，认为人死以后，灵魂就离开躯体回到祖先住的地方，因此虔诚地崇拜祖先。侗族以大米为主食，也食用小米、玉米、小麦、高粱、薯类，但一般为调剂口味而搭配。以“油茶”、“酸宴”和“合拢饭”款待宾客。侗族服饰的衣料，过去以自纺自织自染的侗布为主。侗族居住的村寨一般具有依山傍水的特点。侗寨一般坐落在群山环抱之中，寨边梯田层层，寨脚溪河长流，寨头村尾树木参天。鼓楼是侗寨中最具特色的建筑物。一般的村寨建有一座到两座，较大的寨子四到五座。鼓楼是一种木结构重檐建筑，建筑手法综合了中国木结构的“井干式”、“穿斗式”和“抬梁式”工艺。鼓楼底部一般呈方形，少数呈六面形，中央设有火塘，四周配有长凳，是鼓楼的实际使用部分。</span>
     </div>
         <div class="container-fluid product py-5">
        <div class="container py-5">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                </a>
            </div>
        </div>
    </div>
    <!-- Products End -->


    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Copyright Start -->

    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://cdn.staticfile.org/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/static/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>